loguru
ninja
# TODO: Update with exact module version
numpy
onnx>=1.13.0
onnx-simplifier==0.4.10
opencv_python
psutil

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
tabulate
tensorboard
thop
torch>=1.7
torchvision
tqdm
